.clinicaltrial-ftr{background: var(--TextColor); width: 100%;margin-top: 35rem;display: table;width: 100%;position: relative;}
.clinicaltrial-ftr::after{content: ""; width: 66rem;height: 66rem;border: 1px solid #6D96C6;border-top-color: transparent; border-right-color: transparent; position: absolute;left: -9.3rem;top: -31.4rem;border-radius: 50%;}
.clinicaltrial-ftr-col h2{font-size: 2.4rem;color: var(--whiteColor);font-weight: bold;margin-bottom: 3rem;}
.clinicaltrial-ftr-col ul{padding: 0;margin: 0;}
.clinicaltrial-ftr-col ul li{list-style: none;}
.clinicaltrial-ftr-col ul li + li{margin-top: 2.5rem;}
.clinicaltrial-ftr-col ul li a{color: var(--whiteColor);font-size: 1.8rem;}
.clinicaltrial-ftr-col ul li a:hover{color: var(--SecondaryColor);}
.clinicaltrial-ftr-col p{display: flex;color: var(--whiteColor);margin-bottom: 2rem;font-size: 1.8rem;line-height: 1.6;}
.clinicaltrial-ftr-col p a{color: var(--whiteColor);}
.clinicaltrial-ftr-col p span{min-width: 10rem;}

.clinicaltrial-ftr-col.about-col p{margin-top: 4rem;max-width: 46rem;}

.ftr-row{margin-top: 10rem;}
.download-app-bx{max-width: 164.2rem;margin-left: auto;padding: 4rem 13.3rem;border-radius: 50rem 0 0 50rem;background: var(--PrimaryColor) url(../../../Assets/images/download-app-bg.svg) bottom center no-repeat;margin-top: -35rem;position: relative;z-index: 1;overflow: hidden;}
.download-app-bx::after{content: ""; width: 58.8rem;height: 58.8rem;border: 1px solid #74B1F5;position: absolute;left: 11.7rem; top: -30.4rem;border-radius: 50%;}
.download-app-bx>.row{position: relative;z-index: 1;}
.app-download-platform{margin-top: 4rem;}
.app-download-platform a{display: inline-block;}
.app-download-platform a:hover{transform: translateY(-5px);}
.app-download-platform a + a{margin-left: 5rem;}

.clinicaltrial-ftr-col .input-group .form-control{border-radius: 5px 0 0 5px;border-color: transparent!important;height: 6rem;}
.clinicaltrial-ftr-col .input-group label{display: none;}
.clinicaltrial-ftr-col .input-group .input-group-append .btn{padding: 0;}
.clinicaltrial-ftr-col .input-group .form-control::placeholder{color: #6DAFF2;}
.clinicaltrial-ftr-col .input-group .form-group{position: relative; flex: 1 1 auto; width: 1%; min-width: 0;}
.clinicaltrial-ftr-col .input-group .btn{height: 100%;border-radius: 0 5px 5px 0;width: 9rem;min-width: auto;}
.clinicaltrial-ftr-col .input-group .btn:hover{background: #A9C56D;border-color: #A9C56D;}

.social-links{margin-top: 3rem;}
.social-links img{max-width: 4rem;}
.social-links a{display: inline-block;}
.social-links a + a{margin-left: 2rem;}
.social-links a:hover{transform: translateY(-5px);}
.copyright{text-align: center; position: relative;padding: 2rem 0; margin-top: 5rem;border-top: 1px solid#5181B3;}
.copyright p{font-size: 16px;color: var(--whiteColor);margin: 0;}