.my-appointment-section .my-appointment-img img{height: 20rem;}
.my-appointment-section .my-appointment-bx{text-align: left;cursor: pointer;}

.appointment-detail{display: flex;align-items: center; padding: 1rem; border: 1px solid #C3D9FF;border-radius: 1rem;margin-bottom: 2rem;color: var(--TextColor);}
.appointment-detail img{flex: 0 0 20rem;height: 12rem;margin-right: 2rem;border-radius: 1rem;object-fit: cover;}
.appointment-detail-col{padding: 1.5rem 0;color: var(--TextColor);}
.appointment-detail-col + .appointment-detail-col{border-top: 1px solid #C3D9FF;}
.appointment-detail-col p{font-weight: 300;margin: 0;}

.patient-appointment-details img{max-width: 10rem; width: 10rem;height: 10rem;min-width: 10rem;border-radius: 50%;}