.mpc-dashboard{position: relative;}
.dashboard-right-content{padding: 3rem 3rem 3rem 3rem;height: calc(100vh - 8.7rem);overflow: auto;padding-left: 34rem;transition: 0.3s;border-top: 1px solid #dfdfdf;background: #eef0f8;}
.main-page-heading{font-size: 3rem;font-weight: 700;margin-bottom: 3rem;display: flex;align-items: center;justify-content: space-between;}
.with-filter{display: flex;align-items: center;justify-content: space-between;}
.filter{display: flex;}
.filter .form-group{margin-bottom: 0;}
.filter .form-group + .form-group{margin-left: 1rem;}

.repeat-white-bx{padding: 2rem;border-radius: 1rem;margin-bottom: 3rem;background: var(--whiteColor);box-shadow: 0 0 3rem rgba(0,0,0,0.1);}
.repeat-white-bx>h2{font-size: 2.5rem;margin-bottom: 2rem;}
.repeat-white-bx>h2::after{content: "";display: table;clear: both;}
.shadow-none{box-shadow: none!important;}
.half-mid{max-width: 90rem;margin: 0 auto;}

.overflow-hidden{overflow: hidden;}


.dashboard-info{display: flex;justify-content: space-between;align-items: center;}
.dashboard-info>div h2{text-transform: uppercase;color: var(--blackColor);font-size: 16px;margin-bottom: 2rem;}
.dashboard-info>div h4{color: var(--blackColor);font-size: 3rem;font-weight: 700;}
.dashboard-info .action-btn{width: 6rem;height: 6rem;font-size: 3rem;}

.dropdown-item.active, 
.dropdown-item:active{background: var(--greenColor)!important;}


.filter .form-control{height: 4.5rem;box-shadow: none!important;}