.dashboard-info-bx{padding: 3rem;position: relative;border-radius: 1.5rem;background: var(--whiteColor);}
.dashboard-info-bx>a{display: flex;color: var(--whiteColor);align-items: center;}
.dashboard-info-bx>a>span{min-width: 7.4rem;width: 7.4rem;height: 7.4rem;border-radius: .2rem 1.5rem 1.5rem 1.5rem;display: flex;align-items: center;justify-content: center;margin-right: 2rem;}
.dashboard-info-bx>a h2{font-size: 3.6rem;font-weight: bold;}
.dashboard-info-bx>a p{display: block;font-size: 2.4rem;font-weight: 300;margin: 0;}
.primaryColor{background: var(--PrimaryColor);}
.secondaryColor{background: var(--SecondaryColor);}
.thirdColor{background: var(--TextColor);}
.secondaryColor.dashboard-info-bx>a>span{background: #B1CB79;}
.thirdColor.dashboard-info-bx>a>span{background: #2A5682;}
.primaryColor.dashboard-info-bx>a>span{background: #3A7BBE;}

.welcome-msg-bx>h2{font-size: 3.5rem;font-weight: bold;display: flex;align-items: center;color: #343434;}
.welcome-msg-bx p{margin: 0;font-size: 1.8rem;opacity: 0.8;}
.welcome-msg-bx>h2 img{margin-left: 1rem;}


.offers-slider .owl-item img{height: 22rem;object-fit: cover;border-radius: 1rem;}