.form-group{margin-bottom: 2rem;position: relative;}
.form-group>label{display: block;font-size: 15px;margin-bottom: .5rem}
.hasIcon{position: relative;}
.show-hide{position: absolute;right: 2rem;top: 50%;transform: translateY(-50%); background: transparent;border: none;cursor: pointer;width: 2.4rem;height: 2.4rem;background: url(../../../../Assets/images/pass-hide.svg) center center no-repeat;transition: 0s;padding: 0;background-size: cover;}
.show-hide.active{background: url(../../../../Assets/images/show-pass.svg) center center no-repeat;background-size: cover;}
.multiSelect-control .dropdown-container, .form-control{height: 5.4rem;background: var(--whiteColor);border-radius: 5px;padding-left: 2rem;font-size: 15px;border: 1px solid #c8e1fb;box-shadow: inset 0 0 0 10rem var(--whiteColor)!important;} 
.multiSelect-control .dropdown-container{display: flex; align-items: center;}
.multiSelect-control.rmsc .dropdown-heading{padding-left:0;}
input:hover,
input:focus{box-shadow: inset 0 0 0 10rem var(--whiteColor)!important;}
.form-control.password-field{padding-right: 6rem;}
select.form-control{background: var(--whiteColor) url(../../../../Assets/images/down-arrow.svg) no-repeat 95% center;background-size: 1.1rem;padding-left: 1.5rem;padding-right: 3rem;box-shadow: none!important;}
select.form-control-sm{background-position-x: 90%;}
.form-control:focus{border-color: var(--PrimaryColor);}
.form-control::placeholder{color: #7E8485;}
textarea.form-control{height: 12rem;resize: none;padding-top: 1rem;}
.hasicon{position: relative;}
.hasicon .form-control{padding-right: 6rem;}
.required{position: relative;}
.required::after{content: "*";position: absolute;left: 1.2rem;top: 50%;transform: translateY(-50%);margin-top: -.5rem; color: var(--ThemeColorRed);font-size: 2rem;line-height: 1;}

.upload-document{display: inline-block!important;}
.upload-document input{display: none;}
.upload-document div{padding: 2rem;border-radius: 1rem;border: dashed 1px  #C3D9FF;text-align: center;background: var(--lightBg);cursor: pointer;transition: 0.3s;}
.upload-document div:hover{border-color: var(--TextColor);}
.upload-document div h4{color: #6DAFF2;}
.upload-document div h3{color: var(--TextColor);font-size: 1.8rem;}

.otp-bx{display: flex;}
.otp-bx>div{flex: 1 1 auto;}
.otp-bx>div + div{margin-left: 2rem;}
.otp-bx input{text-align: center;padding: 1rem 2rem;width: 100%!important;}

.send-otp{display: flex;align-items: flex-end;}
.send-otp .form-group{margin-bottom: 0;flex: 1 1 auto;}
.send-otp button{margin-left: 1rem;height: 5.4rem;}
.resend-otp{text-align: right;}
.resend-otp button{background: transparent;border: none;color: var(--PrimaryColor);margin-top: .5rem;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}

/* Firefox */
input[type=number] { -moz-appearance: textfield; }


.switch { position: relative; display: inline-block; width: 6rem; height: 3rem; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; height: 2.2rem; width: 2.2rem; left: 0.4rem; bottom: 0.4rem; background-color: white; transition: .4s; }
input:checked + .slider { background-color: var(--PrimaryColor); }
input:focus + .slider { box-shadow: 0 0 1px var(--PrimaryColor); }
input:checked + .slider:before { -webkit-transform: translateX(3rem); -ms-transform: translateX(3rem); transform: translateX(3rem); }
/* Rounded sliders */
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }