.clinic-list-bx{display: flex;background: var(--whiteColor);border-radius: 1rem;overflow: hidden;width: 100%;border: 1px solid #C3D9FF;transition: 0.3s;}
.clinic-list-bx:hover{border-color: var(--TextColor);}
.clinic-img{flex: 0 0 23.4rem;max-width: 23.4rem;}
.clinic-img img{width: 100%;height: 22rem;object-fit: cover;}
.clinic-info{padding: 1.5rem 2rem;color: var(--TextColor);}
.clinic-info h2{font-size: 2.2rem;margin-bottom: 1rem;}
.clinic-info .location{font-size: 14px;display: flex;align-items: center;margin-bottom: 1rem;}
.clinic-info .location box-icon{margin-right: .2rem;}
.clinic-info .description{margin-bottom: 1rem;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.away-from{padding: 1rem 2rem;background: #F3F8FF;border: 1px solid #C3D9FF;border-radius: 1rem;color: var(--TextColor);display: inline-block;}

.filter-sidebar{background: var(--whiteColor);padding: 2rem;border-radius: 1rem;}
.filter-sidebar>h2{font-size: 2.5rem;color: var(--TextColor);display: flex;align-items: center;justify-content: space-between;margin-bottom: 2rem;}
.filter-btn{background: transparent;border: none;}

.filter-sidebar{position: sticky;top: 9rem;}
.main-clinic-listing .clinic-list-bx{padding: 1rem;margin-bottom: 2rem;}
.main-clinic-listing .clinic-img{flex: 0 0 28rem;max-width: 28rem;}
.main-clinic-listing .clinic-img img{border-radius: 1rem;}