.main-clinic-listing .clinic-list-bx{padding: 1rem;margin-bottom: 2rem;}
.main-clinic-listing .clinic-img{flex: 0 0 28rem;max-width: 28rem;}
.main-clinic-listing .clinic-img img{border-radius: 1rem;border: 1px solid #C3D9FF;}

.age-range{display: flex;align-items: center;justify-content: space-between;}
.age-range .p-3{font-size: 2rem;color: var(--PrimaryColor);}
.age-range-bix{display: flex;align-items: center;}
.age-range-bix span{display: inline-block;margin-right: 1rem;}
.age-range-bix .form-group{margin-bottom: 0;}
.age-range-bix .form-control{height: 4.5rem;width: 12rem;padding: 1rem;text-align: center;}