.modal-title,
.modal-title h2{font-size: 2rem;font-weight: 700;color: var(--TextColor);line-height: 1.4;}
.modal-content .btn-close { position: absolute; right: -3px; top: -3px; width: 2.5rem; height: 2.5rem; background-color: var(--SecondaryColor); opacity: 1; border-radius: 50%; background-size: 13px;}
.modal-content{border: none;border-radius: 1rem;}
.modal-header{padding: 1rem 2rem;border-bottom-color: #C3D9FF;}
.modal-body{padding: 2rem;}
.modal-footer{padding: 1rem 2rem;}