/****** Common Css Start ******/

html{ font-size: 62.5%;  scroll-behavior: auto !important;}
@font-face { font-family: 'AktivGroteskW06'; font-weight: 300; src: local('Aktiv Grotesk W06 Light'), local('AktivGroteskW06-Light'), url('./Assets/Fonts/AktivGroteskW06-Light.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW06-Light.woff') format('woff'); font-style: normal; font-display: swap; }
@font-face { font-family: 'AktivGroteskW06'; font-weight: 500; src: local('Aktiv Grotesk W06 Medium'), local('AktivGroteskW06-Medium'), url('./Assets/Fonts/AktivGroteskW06-Medium.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW06-Medium.woff') format('woff'); font-style: normal; font-display: swap; }
@font-face { font-family: 'AktivGroteskW06'; font-weight: normal; src: local('Aktiv Grotesk W06 Regular'), local('AktivGroteskW06-Regular'), url('./Assets/Fonts/AktivGroteskW06-Regular.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW06-Regular.woff') format('woff'); font-style: normal; font-display: swap; }
@font-face { font-family: 'AktivGroteskW04'; font-weight: 900; src: local('Aktiv Grotesk W04 Black'), local('AktivGroteskW04-Black'), url('./Assets/Fonts/AktivGroteskW04-Black.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW04-Black.woff') format('woff'); font-style: normal; font-display: swap; }
@font-face { font-family: 'AktivGroteskW06'; font-weight: bold; src: local('Aktiv Grotesk W06 Bold'), local('AktivGroteskW06-Bold'), url('./Assets/Fonts/AktivGroteskW06-Bold.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW06-Bold.woff') format('woff'); font-style: normal; font-display: swap; }


body { overflow-x: hidden; font-weight: normal; font-size: initial; font-family: 'AktivGroteskW06'; }
:root{
  --PrimaryColor: #4096EE;
  --TextColor: #356AA0;
  --TextColorLight: #6B96C2;
  --SecondaryColor: #CDEB8B;
  --SecondaryColorDark: #B9D57A;
  --darkText: #232221;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --lightBg: #F0F6FF;
}
img{max-width: 100%;}
a, 
button, 
input[type=reset], 
input[type=submit], 
input[type=button] {
 -webkit-transition: all ease-in-out 0.3s;
 -moz-transition: all ease-in-out 0.3s;
 -ms-transition: all ease-in-out 0.3s;
 -o-transition: all ease-in-out 0.3s;
 transition: all ease-in-out 0.3s;
 cursor: pointer;
}
a, 
a:hover, 
a:focus { text-decoration: none; }

.btn.focus, 
.btn:focus { outline: 0; box-shadow: none; }

button:hover, 
button:focus,
input:hover, 
input:focus,
textarea:hover, 
textarea:focus{ outline: 0 !important; box-shadow: none !important; }




.badge{color: var(--whiteColor);padding: .5rem 1rem;font-weight: 500;min-width: 9rem;text-align: center;}

.pad-t-80{ padding-top: 8rem; }
.pad-b-80{ padding-bottom: 8rem; }
.pad-t-50{ padding-top: 5rem; }
.pad-b-50{ padding-bottom: 5rem; }
.pad-t-30{padding-top: 3rem;}
.pad-b-30{padding-bottom: 3rem;}

.repeat-section{padding: 10rem 0;}

.row{margin: 0 -15px;}
.row div[class*="col"]{padding: 0 15px;}

.tooltip{font-size: 14px;}
.react-datepicker{border-color: var(--TextColorLight)!important;border-radius: 1rem!important;}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after{border-bottom-color: #4096ee!important;}
.react-datepicker__header{background: #cce5ff!important;border-bottom-color: var(--TextColorLight)!important;border-radius: 1rem 1rem 0 0!important;}
.react-datepicker{font-size: 14px!important;}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{width: 2.7rem!important;margin: .5rem!important;line-height: 2.7rem!important;}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{font-size: 1.5rem!important;}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{background: var(--PrimaryColor)!important;}
.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before{border-color: var(--PrimaryColor)!important;top: 12px!important;}
.react-datepicker__input-container::after{content: "";width: 1.8rem;height: 1.9rem;background: url(./Assets/images/calender-icon.svg) no-repeat; background-size: cover;position: absolute;right: 2rem;top: 50%;transform: translateY(-50%);}

.step-navigation{display: flex;margin-top: 3rem;justify-content: space-between;}
.step-navigation .btn + .btn{margin-left: 1rem;}
.v-sub{vertical-align: sub;}
.white-icon{filter: brightness(0) invert(1);}
th[align="center"]{text-align: center;}


.alert-danger { color: #020202; background-color: #ffe7ea; border-color: #ffbfc2;}
.alert{font-size: 14px;border-radius: 1rem;}

.breadcrumb{padding: 1rem 2rem; background: #f9f9f9; border-radius: 0.5rem;}
.breadcrumb-item.active{color: #adadad;}
.breadcrumb a{color: var(--blackColor);font-weight: 500;}

.table>:not(:first-child){border-top: 2px solid #eef0f8;}
tbody, td, tfoot, th, thead, tr{border-color: #eef0f8;vertical-align: middle;}

.center-align-table{text-align: center;}
td[align='left'],
th[align='left']{text-align: left;}
/****** Common Css End ******/