/****** Common Css Start ******/

html{ font-size: 62.5%;  scroll-behavior: auto !important;}
@font-face { font-family: 'AktivGroteskW06'; font-weight: 300; src: local('Aktiv Grotesk W06 Light'), local('AktivGroteskW06-Light'), url('./Assets/Fonts/AktivGroteskW06-Light.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW06-Light.woff') format('woff'); font-style: normal; font-display: swap; }
@font-face { font-family: 'AktivGroteskW06'; font-weight: 500; src: local('Aktiv Grotesk W06 Medium'), local('AktivGroteskW06-Medium'), url('./Assets/Fonts/AktivGroteskW06-Medium.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW06-Medium.woff') format('woff'); font-style: normal; font-display: swap; }
@font-face { font-family: 'AktivGroteskW06'; font-weight: normal; src: local('Aktiv Grotesk W06 Regular'), local('AktivGroteskW06-Regular'), url('./Assets/Fonts/AktivGroteskW06-Regular.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW06-Regular.woff') format('woff'); font-style: normal; font-display: swap; }
@font-face { font-family: 'AktivGroteskW04'; font-weight: 900; src: local('Aktiv Grotesk W04 Black'), local('AktivGroteskW04-Black'), url('./Assets/Fonts/AktivGroteskW04-Black.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW04-Black.woff') format('woff'); font-style: normal; font-display: swap; }
@font-face { font-family: 'AktivGroteskW06'; font-weight: bold; src: local('Aktiv Grotesk W06 Bold'), local('AktivGroteskW06-Bold'), url('./Assets/Fonts/AktivGroteskW06-Bold.woff2') format('woff2'), url('./Assets/Fonts/AktivGroteskW06-Bold.woff') format('woff'); font-style: normal; font-display: swap; }


body { overflow-x: hidden; font-weight: normal; font-size: initial; font-family: 'AktivGroteskW06'; }
:root{
  --PrimaryColor: #4096EE;
  --TextColor: #356AA0;
  --TextColorLight: #6B96C2;
  --SecondaryColor: #CDEB8B;
  --SecondaryColorDark: #B9D57A;
  --darkText: #232221;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --lightBg: #F0F6FF;
  --DangerColor: #ff6262;
}
img{max-width: 100%;}
a, 
button, 
input[type=reset], 
input[type=submit], 
input[type=button] {
 -webkit-transition: all ease-in-out 0.3s;
 -moz-transition: all ease-in-out 0.3s;
 -ms-transition: all ease-in-out 0.3s;
 -o-transition: all ease-in-out 0.3s;
 transition: all ease-in-out 0.3s;
 cursor: pointer;
}
a, 
a:hover, 
a:focus { text-decoration: none; }

.btn.focus, 
.btn:focus { outline: 0; box-shadow: none; }

button:hover, 
button:focus,
input:hover, 
input:focus,
textarea:hover, 
textarea:focus{ outline: 0 !important; box-shadow: none !important; }




.badge{color: var(--whiteColor);padding: .5rem 1rem;font-weight: 500;min-width: 9rem;text-align: center;}

.pad-t-80{ padding-top: 8rem; }
.pad-b-80{ padding-bottom: 8rem; }
.pad-t-50{ padding-top: 5rem; }
.pad-b-50{ padding-bottom: 5rem; }
.pad-t-30{padding-top: 3rem;}
.pad-b-30{padding-bottom: 3rem;}

.repeat-section{padding: 10rem 0;}

.row{margin: 0 -15px;}
.row>div[class*="col"]{padding: 0 15px;}
.gutter-size-30{margin: 0 -3rem;}
.gutter-size-30>div[class*="col"]{padding: 0 3rem;}
.border-left1px{border-left: 1px solid #ededed;}

.tooltip{font-size: 14px;}
.react-datepicker{border-color: var(--TextColorLight)!important;border-radius: 1rem!important;}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after{border-bottom-color: #4096ee!important;}
.react-datepicker__header{background: #cce5ff!important;border-bottom-color: var(--TextColorLight)!important;border-radius: 1rem 1rem 0 0!important;}
.react-datepicker{font-size: 14px!important;}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{width: 2.7rem!important;margin: .5rem!important;line-height: 2.7rem!important;}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{font-size: 1.5rem!important;}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{background: var(--PrimaryColor)!important;}
.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before{border-color: var(--PrimaryColor)!important;top: 12px!important;}
.react-datepicker__input-container::after{content: "";width: 1.8rem;height: 1.9rem;background: url(./Assets/images/calender-icon.svg) no-repeat; background-size: 100% 100%;position: absolute;right: 2rem;top: 50%;transform: translateY(-50%);}

.step-navigation{display: flex;margin-top: 3rem;justify-content: space-between;}
.step-navigation .btn + .btn{margin-left: 1rem;}
.v-sub{vertical-align: sub;}
.white-icon{filter: brightness(0) invert(1);}
th[align="center"]{text-align: center;}


.alert-danger { color: #020202; background-color: #ffe7ea; border-color: #ffbfc2;}
.alert{font-size: 14px;border-radius: 1rem;}

.breadcrumb{padding: 1rem 2rem; background: #f9f9f9; border-radius: 0.5rem;}
.breadcrumb-item.active{color: #adadad;}
.breadcrumb a{color: var(--blackColor);font-weight: 500;}

.table>:not(:first-child){border-top: 2px solid #eef0f8;}
tbody, td, tfoot, th, thead, tr{border-color: #eef0f8;vertical-align: middle;}

.center-align-table{text-align: center;}
td[align='left'],
th[align='left']{text-align: left;}


.custom-size-modal .modal-dialog{max-width: 610px!important;}

.br-none{border: none!important;}
.br-none-modal .modal-header{border: none!important;}

.info-bx { display: flex; align-items: center; color: var(--TextColor); padding: 2rem 0; border-top: 1px solid #C3D9FF; }
.info-bx box-icon{margin-right: 1rem;}

.btn-group-custom{display: flex;}
.btn-group-custom>[class*="btn"]{width: 50%;}
.btn-group-custom>[class*="btn"] + [class*="btn"]{margin-left: 1rem;}

.btn-group-custom.auto-width>*{width: auto;}

.no-wrap{white-space: nowrap;}

iframe[style*="fixed"]{display: none;}
.w-20{min-width: auto!important;max-width: 15rem;}

.hasIcon-p{display: flex;align-items: center;}
.hasIcon-p>box-icon{margin-right: .5rem;}

.congrats-bx{text-align: center;color: var(--TextColor);}
.congrats-bx h2{font-size: 3rem;font-weight: 700;}
.congrats-bx img{margin: 2rem 0;}
.congrats-bx p{margin-bottom: 2rem;}

.filter-sidebar{background: var(--whiteColor);padding: 2rem;border-radius: 1rem;position: sticky;top: 9rem;}
.filter-sidebar>h2{font-size: 2.5rem;color: var(--TextColor);display: flex;align-items: center;justify-content: space-between;margin-bottom: 2rem;}
.filter-btn{background: transparent;border: none;}
.before-login-listing .filter-sidebar,
.before-login-listing .trialClinic-side-bx{background: #F3F8FF;}

.fullPageLoader{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: var(--whiteColor);display: flex;align-items: center;justify-content: center;z-index: 999999;}
.fullPageLoader.OnRouteCallLoader{z-index: 99;}
.cms-content-section h2 { margin-bottom: 2rem; font-weight: 800; font-size: 3rem; }
.cms-content-section h3 { font-size: 2.3rem; }
.cms-content-section p { margin-bottom: 1rem; font-size: 1.7rem; color: var(--TextColor);}
.cms-content-section ul li { line-height: 1.8; margin-bottom: 1rem; }

.cms-content-section table{margin: 2rem 0;}
.cms-content-section table,
.cms-content-section table tr td,
.cms-content-section table tr th{border: 1px solid #cccccc;}

.marker{background: #fff23c;}

.downloadDoc{display: flex;align-items: center;border: 1px solid #C3D9FF;border-radius: 1rem;padding: 2rem;justify-content: space-between; background: var(--lightBg);color: var(--PrimaryColor);}
.downloadDoc p{display: flex;align-items: center;}
.downloadDoc span{display: inline-block;max-width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}


.rmsc {
	--rmsc-main: #4285f4;
	--rmsc-hover: #f1f3f5;
	--rmsc-selected: #e2e6ea;
	--rmsc-border: #ccc;
	--rmsc-gray: #aaa;
	--rmsc-bg: #fff;
	--rmsc-p: 10px;
	--rmsc-radius: 4px;
	--rmsc-h: 38px
}

.rmsc * {
	box-sizing: border-box;
	transition: all .2s ease
}

.rmsc .gray {
	color: var(--rmsc-gray)
}

.rmsc .dropdown-content {
	position: absolute;
	z-index: 1;
	top: 100%;
	width: 100%;
	padding-top: 8px
}

.rmsc .dropdown-content .panel-content {
	overflow: hidden;
	border-radius: var(--rmsc-radius);
	background: var(--rmsc-bg);
	box-shadow: 0 0 0 1px #0000001a, 0 4px 11px #0000001a
}

.rmsc .dropdown-container {
	position: relative;
	outline: 0;
	background-color: var(--rmsc-bg);
	border: 1px solid var(--rmsc-border);
	border-radius: var(--rmsc-radius)
}

.rmsc .dropdown-container[aria-disabled=true]:focus-within {
	box-shadow: var(--rmsc-gray) 0 0 0 1px;
	border-color: var(--rmsc-gray)
}

.rmsc .dropdown-container:focus-within {
	box-shadow: var(--rmsc-main) 0 0 0 1px;
	border-color: var(--rmsc-main)
}

.rmsc .dropdown-heading {
	position: relative;
	padding: 0 var(--rmsc-p);
	display: flex;
	align-items: center;
	width: 100%;
	height: var(--rmsc-h);
	cursor: default;
	outline: 0
}

.rmsc .dropdown-heading .dropdown-heading-value {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 1
}

.rmsc .clear-selected-button {
	cursor: pointer;
	background: none;
	border: 0;
	padding: 0;
	display: flex
}

.rmsc .options {
	max-height: 260px;
	overflow-y: auto;
	margin: 0;
	padding-left: 0
}

.rmsc .options li {
	list-style: none;
	margin: 0
}

.rmsc .select-item {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	padding: var(--rmsc-p);
	outline: 0
}

.rmsc .select-item:hover,
.rmsc .select-item:focus {
	background: var(--rmsc-hover)
}

.rmsc .select-item.selected {
	background: var(--rmsc-selected)
}

.rmsc .no-options {
	padding: var(--rmsc-p);
	text-align: center;
	color: var(--rmsc-gray)
}

.rmsc .search {
	width: 100%;
	position: relative;
	border-bottom: 1px solid var(--rmsc-border)
}

.rmsc .search input {
	background: none;
	height: var(--rmsc-h);
	padding: 0 var(--rmsc-p);
	width: 100%;
	outline: 0;
	border: 0
}

.rmsc .search-clear-button {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: none;
	border: 0;
	padding: 0 calc(var(--rmsc-p) / 2)
}

.rmsc .search-clear-button [hidden] {
	display: none
}

.rmsc .item-renderer {
	display: flex;
	align-items: baseline
}

.rmsc .item-renderer input {
	margin: 0 5px 0 0
}

.rmsc .item-renderer.disabled {
	opacity: .5
}

.rmsc .spinner {
	animation: rotate 2s linear infinite
}

.rmsc .spinner .path {
	stroke: var(--rmsc-border);
	stroke-width: 4px;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite
}

@keyframes rotate {
	to {
		transform: rotate(360deg)
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35
	}

	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124
	}
}
/****** Common Css End ******/


/* dashboard common css */
.clinical-dashboard{padding: 12rem 0 5rem 0;background: var(--lightBg);min-height: 100vh;}
.badge{padding: .6rem 1rem;font-size: 12px;color: var(--TextColor);display: inline-flex;align-items: center;border-radius: 5rem;justify-content: center;}
.badge-success{background: var(--SecondaryColor);}
.badge-danger{background: var(--DangerColor);color: var(--whiteColor);}
.badge-primary{background: var(--PrimaryColor);color: var(--whiteColor);}